body {
    font-size: 14px;
    font-family: sans;
}

nav {
    width: 180px;
    background-color: #f7f5f5;
    margin: 20px auto;
    padding-left: 10px;
    padding-right: 10px;
}

ul {
    margin: 0;
    padding: 0;
    background-color: white;
    list-style: none;
}

li {
    border-bottom: 1px solid #d3d3d3;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #406a97;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

li.active {
    background-color: #164cc0;
    color: white;
}